@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Lato:ital@1&family=Merriweather&family=Montserrat&family=Mulish:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

#navbarSupportedContent{
    display: flex;
   justify-content: space-between;
}


.navbar-brand{
    font-family: 'Lato', serif;
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-item{
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}