@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Lato:ital@1&family=Merriweather&family=Montserrat&family=Mulish:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}
.navbar-brand{
    font-family: 'Lato', serif;
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-item{
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}
.header-part{
    width: 100%;
    height: 70vh;
    overflow: hidden;
}
.header1{
    max-width: 700px;
}
.header-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.header-image{
    display: flex;
    justify-content: flex-start;
}













/* for mobiles */
@media (max-width:480px) {
    .header-image{
        justify-content: center;
    }
    .header-text{
        padding:20px;
    }
}

        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
          .header-image{
              justify-content: flex-end;
          }
        }
              
